{layout name="layout" title="admin add" /}
 <form  id="defaultForm" role="form" method="POST"  action="{:url('/admin/group/add/')}">
   <div class="form-group">
    <label for="exampleInputUsername">groupname：</label>
    <input type="text" class="form-control" value="{present name="data.name"}{$data.name}{/present}" name="groupname" id="groupname" placeholder="please input username">
  </div>
  
     <div class="form-group">
    <label for="exampleInputUsername">remark：</label>
    <input type="text" class="form-control" value="{present name="data.remark"}{$data.remark}{/present}" name="remark" id="remark" placeholder="please input remark">
  </div>
 
<div class="form-group">
     <label for="exampleInputPassword">is super admin</label><br>
	 	<input   type="radio" name="super" value="1" {notpresent name="data.super"} checked {/notpresent} {present name="data.super"} {if condition="$data.super eq 1 "} checked  {/if} {/present}  />是 
	    <input   type="radio" name="super" value="2" {present name="data.super"} {if condition="$data.super eq 2 "} checked  {/if} {/present}  />否
</div>

<div class="form-group" id="rights">
     <label for="exampleInputPassword">rights</label>
                    <ul>
					{foreach name="menuList" key="key" item="item"}                
                	<li><label class='checkbox'><input type='checkbox' name='type[]' value='{$key}' {present name="data.typeAry"} {if condition="in_array($key,$data.typeAry)"} checked="checked"  {/if} {/present}   />{$key}</label>
	                	<ul>
	                		{foreach name="item" item="kk" key="keyS"}
			                <li>&nbsp;&nbsp;&nbsp;&nbsp; <input type='checkbox' name='node[]' value='{$key}{$kk}' {present name="data.nodeAry"} {if condition="in_array($key.$kk,$data.nodeAry)"} checked="checked"  {/if} {/present}   />{$kk} 
		                	{/foreach}
		                </ul>
	                </li>
	                {/foreach}
                </ul> 
</div>
 
  <input type="hidden" name="__token__" value="{$Request.token}" />
  <input type="hidden" name="id" id="id" value="{present name="data.id"}{$data.id}{/present}" />
  <button type="submit" class="btn btn-default">submit</button>
  <button type="reset" class="btn btn-default">reset</button>
</form>	

 <script type="text/javascript">
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'please input groupname'
                    },
                   
                }
            },
 
      
        }
    });
    
 	//选中上级默认全选下级
    $(':checkbox[name="type[]"]').click(function () {
        $(':checkbox', $(this).closest('li')).prop('checked', this.checked);
    });
    
 
    
    //默认的
    var supers={$defaultRight};
    if(supers==1) {
    	$('#rights').hide();
    }
    
    //切换权限列表
    $(':radio[name="super"]').click(function(){
    	var supers=$("input[name='super']:checked").val();
    	if(supers==2) {
    		$('#rights').show();
    	} else {
    		$('#rights').hide();
    	}
 	});
});
</script>
