{layout name="layout" title="information" /}
  
 
   <div class="form-group">
    <label for="exampleInputPassword">title:</label>
    {present name="data.title"} {$data.title} {/present} 
  </div>
 <div class="form-group">
    <label for="exampleInputPassword">realname:</label>
   {present name="data.realname"} {$data.realname}{/present} 
  </div>
  
  	<div class="form-group">
	     <label>pic：</label>
	       	<span style="color:red;font-size: 12px;"></span>
	         <div {notpresent name="data.pic"} style="display:none" {/notpresent} id="pic_img_div">
	             <img id="pic_img" src="{present name="data.pic"}{$data.pic}{/present}" width="100px" height="100px">
	         </div>
	         <input type="hidden" name="pic_url" id="pic_url" value="{present name="data.pic"}{$data.pic}{/present}">
	 </div>
	 
	 <div class="form-group">
	     <label>info：</label>
	         {present name="data.content"}{$data.content}{/present}  
	 </div>
 
 
 	<button type="button" id="back" class="btn btn-info" >return</button>
 <script>
 $(function () {

 	$('#back').click(function(){
			window.location.href="{:url('/admin/information/index')}";
	 	});

 });
 </script>