{layout name="layout" /}
<h2>user list &nbsp; &nbsp; &nbsp;{if condition="$addRight eq 1"}<small><a href="{:url('/admin/user/add/')} ">add user</a></small>{/if}</h2>
<form action="{:url('/admin/User/index')}" id="searchForm" method="POST">
lastname:<input  placeholder="please input familyname" type="text" name="familyname" id="familyname" value="{$search.familyname}">
firstname:<input placeholder="please input firstname" type="text" name="username" id="username" value="{$search.username}">
birthday:<input placeholder="please input birthday"  class="form_datetime" type="text" name="birthday" id="birthday" value="{$search.birthday}">
sex:
<select name="sex" id="sex">
	<option value="1">male</option>
	<option value="2">female</option>
</select>
<input type="submit" value="search">
</form>
<br>
<table class="table table-striped table-bordered table-hover">
   <thead>
     <tr>
       <th>ID</th>
       
       <th>lastname</th>
       <th>firstname</th>
       <th>sex</th>
       <th>birthday</th>
        
       <th>country</th>
       <th>idcard</th>
        
       <th>contact</th>
       <th>address</th>
       
       <th>pic</th>
       <th>other</th>
       <th>age</th>
       
       <th>manage</th>
     </tr>
   </thead>
   <tbody>
   {foreach $list as $vo}
     <tr>
       <td>{$vo.id}</td>
       {if condition="$familyView eq 1"}
       <td> {$vo.familyname} </td>
       <td> {$vo.username}   </td>
       <td> {$vo.sex|getSexName} </td>
       <td> {$vo.birthday} </td>
       {else /}
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       {/if}
        
       {if condition="$countryView eq 1"} 
       <td> {$vo.country} </td>
       <td> {$vo.idcard} </td>
       {else /}
      <td></td>
      <td></td>
       {/if}
       
       {if condition="$phoneView eq 1"}
       <td> {$vo.contact} </td>
       <td> {$vo.address} </td>
       {else /}
      <td></td><td></td>
       {/if}
       
       {if condition="$picView eq 1"}
       <td> {if condition="$vo.pic neq ''"}<a target="_blank" href="{$vo.pic}"><img src="{$vo.pic}" width="20px" height="20px"></a>{/if} </td>
       <td id='otd'>{$vo.beizhu}</td>
       <td> {$vo.age} </td>
       {else /}
      <td></td><td></td><td></td>
       {/if}
       
       <td>
        <a href="{:url('/admin/user/show/id/'.$vo->id)} ">view</a> &nbsp; 
        <a href="{:url('/admin/user/edit/id/'.$vo->id)} ">edit</a> &nbsp; 
        <a onclick="return  confirm('confirm delete')" href="{:url('/admin/user/del/id/'.$vo->id)} ">delete</a> 
       </td>
     </tr>
     {/foreach}
   </tbody>
 </table>
 <div align="right">
{if condition="!empty($list)"}{$list->render()}{/if}
</div>
 <script   language="JavaScript"   type="text/javascript">   
  function   set()   
  {   
  var   o   =   document.getElementById("otd");   
  var   cns   =   o.childNodes;   
  for(var   i=0;i<cns.length;i++)   
    {   
  var   __temp   =   cns[i];   
 if(__temp.tagName!=null){
  if(__temp.tagName.toLowerCase()   ==   "img")   
  {   
  __temp.width   =   20;   
  __temp.height   =   20;   
  }   
  }  
} 
  }   
  set();   
  </script>   
<link href="__ROOT__static/css/bootstrap-datetimepicker.min.css " rel="stylesheet">
<script type="text/javascript" src="__ROOT__static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="__ROOT__static/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
    $("#birthday").datetimepicker({　
    	format: 'yyyy-mm-dd',
  　　　　　　language: 'zh-CN',
  　　　　　　weekStart: 1,
  　　　　　　autoclose: 1,
  　　　　　　todayHighlight: 1,
  　　　　　　startView: 2,
  　　　　　　minView: 2,  //Number, String. 默认值：0, 'hour'，日期时间选择器所能够提供的最精确的时间选择视图。
  　　　　　　forceParse: 0});
</script>  
 <script type="text/javascript">
$(document).ready(function() {
    $('#searchForm').bootstrapValidator({
        fields: {
        	username: {
                message: 'The firstname is not valid',
                validators: {
                    notEmpty: {
                    },
                    
                }
            },
            familyname: {
                message: 'The familyname is not valid',
                validators: {
                    notEmpty: {
                    },
                    
                }
            },
            
            birthday: {
                message: 'The birthday is not valid',
                validators: {
                    notEmpty: {
                    },
                    
                }
            },
 
           
        }
    });
});
</script>
