 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">admin system</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a>{$Think.session.username}</a></li>
            <li><a href="{:url('/admin/login/logout/')}">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {if condition="$nav eq 'Index'"}class="active" {/if}><a href="{:url('/admin/index/index/')}">index <span class="sr-only">(current)</span></a></li>
          </ul>
          
          {if condition="$rights eq 'all'"}  
	          <ul class="nav nav-sidebar">
	            <li {if condition="$nav eq 'User'"}class="active" {/if}><a href="{:url('/admin/user/index/')}">客户</a></li>
	            <li {if condition="$nav eq 'Information'"}class="active" {/if}><a href="{:url('/admin/information/index/')}">files</a></li>
	          </ul>
	          <ul class="nav nav-sidebar">
	           <li {if condition="$nav eq 'Member'"}class="active" {/if}><a href="{:url('/admin/member/index/')}">admin</a></li>
	           <li {if condition="$nav eq 'Group'"}class="active" {/if}><a href="{:url('/admin/group/index/')}">group</a></li>
	          </ul>
          {else /}
              <ul class="nav nav-sidebar">
	            {if condition="in_array('user',$rights)"}
	            	<li {if condition="$nav eq 'User'"}class="active" {/if}><a href="{:url('/admin/user/index/')}">客户</a></li>
	            {/if}
	            {if condition="in_array('files',$rights)"}
	            	<li {if condition="$nav eq 'Information'"}class="active" {/if}><a href="{:url('/admin/information/index/')}">files</a></li>
	            {/if}
	          </ul>
          {/if}
 
          
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

